{% extends "base/base.html" %}

{% load staticfiles %}

{% block content %}
<header id="intro">
	<div class="container">
		<div class="table">
			<div class="header-text">
				<div class="row">
					<div class="col-md-12 text-center">
						<h3 class="light white">Dejando Huella</h3>
						<h1 class="white typed">Nuestro salón de clases te necesita.</h1>
						<span class="typed-cursor">|</span>
						<p><a href="#btn-abajo" id="btn-abajo" class="btn btn-white-fill scroll-link"><i class="fa fa-arrow-down" aria-hidden="true"></i></a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="main"></div>
</header>
<section>
	<div class="cut cut-top"></div>
	<div class="container">
		<div class="row intro-tables">
			<div class="col-md-6">
				<div class="intro-table intro-table-hover">
					<div class="bottom">
						<h4 class="white heading small-heading no-margin regular">Tú puedes hacer la diferencia</h4>
						<h4 class="white heading small-pt">Acompaña a un niño en su aprendizaje</h4>
						<a href="#" class="btn btn-white-fill expand">Apadrina</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="intro-table intro-table-hover" style="background: url('{% static "img/header.jpg" %}'); background-size: cover;">
					<div class="bottom">
						<h4 class="white heading small-heading no-margin regular">Impacta toda la escuela</h4>
						<h4 class="white heading small-pt">Conoce a José y Ramiro</h4>
						<a href="#" class="btn btn-white-fill expand">Ayudar escuela</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="cut cut-top"></div>
	<div class="container">
		<div class="row intro-tables">
			<div class="col-md-12">
				<div class="intro-table intro-table-third">
					<h5 class="white heading">Todas las historias</h5>
					<div class="owl-carousel owl-schedule bottom">
						<div class="item">
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white">Escuela Francisco Marroquín</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white">$250 recaudados</h5>
								</div>
							</div>
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white">Quinto primaria</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white">$520 recaudados</h5>
								</div>
							</div>
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white">Anita la huerfanita</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white">$270 recaudados</h5>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white">Directora Blanca</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white">$510 recaudados</h5>
								</div>
							</div>
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white">Tercero primaria</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white">$605 recaudados</h5>
								</div>
							</div>
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white">Maestros de la escuela</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white">$1200 recaudados</h5>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white">David</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white">$275 recaudados</h5>
								</div>
							</div>
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white">José y Ramiro</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white">$600 recaudados</h5>
								</div>
							</div>
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white">María y Juana</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white">$240 recaudados</h5>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white">???</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white">$??? recaudados</h5>
								</div>
							</div>
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white">???</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white">$??? recaudados</h5>
								</div>
							</div>
							<div class="schedule-row row">
								<div class="col-xs-6">
									<h5 class="regular white">???</h5>
								</div>
								<div class="col-xs-6 text-right">
									<h5 class="white">$??? recaudados</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}